<div class="p-4" *ngIf="showing">
    <p-card>
        <ng-template pTemplate="title">
            <div class="flex justify-content-between align-items-center">
                <h2 class="m-0 mr-4" style="line-height: 1;">{{ showing.movieName }}</h2>
                <div>
                    <p-button *ngIf="isAuthenticated" label="Book Seats" icon="pi pi-ticket"
                        (onClick)="showBookingDiv = true"></p-button>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="subtitle">
            <div class="text-lg">{{ showing.theaterName }} - {{ showing.startTime | date:'medium' }}</div>
        </ng-template>

        <div *ngIf="seatInfo">
            <h3>Seat Information</h3>
            <div class="flex flex-column gap-4">
                <span>Total Seats: {{ seatInfo.totalSeats }}</span>
                <span>Available Seats: {{ seatInfo.availableSeats.length }}</span>
                <span>Reserved Seats: {{ seatInfo.reservedSeats.length }}</span>
            </div>
        </div>

        <div *ngIf="!isAuthenticated" class="mt-4 p-4 bg-yellow-50 border-round">
            <p>Please <a routerLink="/login">login</a> to book seats for this showing.</p>
        </div>

        <!-- Booking Div -->
        <div *ngIf="showBookingDiv" class="mt-4 p-4 border-round" style="max-width: 450px; background: transparent;">
            <div *ngIf="seatInfo">
                <p>Select a seat to book:</p>
                <div class="flex flex-wrap gap-2 mb-3 justify-content-between">
                    <div *ngFor="let seat of seatInfo.availableSeats"
                        style="flex: 1 0 21%; display: flex; justify-content: center;">
                        <p-button [label]="seat.toString()" styleClass="p-button-sm seat-btn"
                            [ngClass]="{'turquoise-btn': selectedSeat === seat}" (onClick)="selectedSeat = seat">
                        </p-button>
                    </div>
                </div>
                <div class="flex justify-content-between mt-4">
                    <p-button label="Cancel" styleClass="p-button-text" (onClick)="showBookingDiv = false"></p-button>
                    <p-button label="Book" (onClick)="bookSeat()" [disabled]="!selectedSeat"></p-button>
                </div>
            </div>
        </div>
        <!-- End Booking Div -->
    </p-card>
</div>
